/* подключаем шрифты локально */
@font-face {
   font-family: 'NewYorkExtraLargeBold';
   src: local('NewYorkExtraLargeBold'), url(./../assets/fonts/NewYorkExtraLargeBold.otf) format('otf');
   font-display: swap;
}

@font-face {
   font-family: 'SFUIDisplayBold';
   src: local('SFUIDisplayBold'), url(./../assets/fonts/SFUIDisplay-Bold.woff) format('woff');
   font-display: swap;
}

@font-face {
   font-family: 'SFUIDisplayLight';
   src: local('SFUIDisplayLight'), url(./../assets/fonts/SFUIDisplay-Light.woff) format('woff');
   font-display: swap;
}

@font-face {
   font-family: 'SFUIDisplayRegular';
   src: local('SFUIDisplayRegular'), url(./../assets/fonts/SFUIDisplay-Regular.woff) format('woff');
   font-display: swap;
}

@font-face {
   font-family: 'SFUIDisplaySemibold';
   src: local('SFUIDisplaySemibold'), url(./../assets/fonts/SFUIDisplay-Semibold.woff) format('woff');
   font-display: swap;
}

/* Стили для ограничивающего контейнера */
.container {
   max-width: 1130px;
   margin: 0 auto;
   padding: 0 10px;
}

/*стили для блока Header*/
.header {
   height: 96px;
   padding: 0 50px;
   display: flex;
   align-items: center;
}

.header__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__logo {
   margin-right: 38px;
}

.nav__list {
   height: 48px;
   display: flex;
   align-items: center;
}

.nav__item {
   padding: 4px 24px;
}

.nav__link {
   font-family: SF UI Display, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 40px;
   letter-spacing: 0.01em;
   text-align: center;
   color: #585858;

}

.header__search {
   margin-right: 24px;
}

/* стили для кнопок */
.btn {
   height: 56px;
   width: 180px;
   cursor: pointer;
   color: #FFFFFF;
   background-color: #FD665E;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;

   font-family: SF UI Display, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 40px;
   letter-spacing: 0.01em;
   text-align: center;
}

.header__btn {
   height: 48px;
   width: 100px;
}

.header__btn--sign-in {
   color: #585858;
   background-color: transparent;
   font-weight: 400;
}

.header__btn--sign-in:hover {
   background-color: #FD665E;
}

/* Стили для блока main */
.main {
   padding: 48px 0;
}

.main__title {
   width: 770px;
   margin-bottom: 56px;
   font-family: New York Extra Large;
   font-size: 112px;
   font-style: normal;
   font-weight: 600;
   line-height: 112px;
   letter-spacing: -0.04em;
   text-align: left;

}

.main__title-s {
   color: #FD665E;
}

.main__wrapper {
   display: flex;
   justify-content: space-between;
}

.main__content {}

.main__text {
   width: 290px;
   margin-bottom: 48px;
   font-family: SF UI Display, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0.01em;
   text-align: left;

}

.main__image {
   max-width: 765px;
   width: 100%;
   object-fit: cover;
}

/* стили для блока Galery */
.galery {
   padding: 64px;
}

.title {
   font-family: New York Extra Large;
   font-size: 48px;
   font-style: normal;
   font-weight: 600;
   line-height: 60px;
   letter-spacing: -0.04em;
}

.galery__title {
   margin: 0 auto;
   max-width: 500px;
   margin-bottom: 40px;
   text-align: center;

}

.galerry__wrapper {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(3, 340px);
   gap: 45px;
}

.galery__image {
   max-width: 340px;
   width: 100%;
   object-fit: cover;
}

/* Стили для блока Needs */
.needs {
   padding: 64px 0;
}

.needs__title {
   max-width: 400px;
   margin-bottom: 40px;
}

.needs__inner {
   display: flex;
   justify-content: space-between;
}

.needs__image {
   max-width: 535px;
   width: 100%;
   object-fit: cover;
}

.offer__wrapper {
   padding-bottom: 24px;
}

.offer__item {
   display: flex;
   justify-content: center;
   padding-bottom: 48px;
}

.offer__icon-box {
   margin-right: 38px;
}

.offer__info {
   max-width: 305px;
}

.offer__title {
   margin-bottom: 8px;
   font-family: SF UI Display, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 26px;
   letter-spacing: 0.01em;
   text-align: left;
}

.offer__text {
   font-family: SF UI Display, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0.01em;
   text-align: left;
}

.offer__btn {
   text-align: center;
   margin: 0 auto;
   display: block;
}

/*Стили для длока true*/
.true {
   background-color: #F9F9F9;
}

.true__top {
   padding: 64px 0 75px;
}

.true__title {
   padding-bottom: 40px;
   font-weight: 700;
   max-width: 370px;
}

.true-slider {
   max-width: 765px;
   margin-bottom: 60px;
   position: relative;
}

.true-slider::before {
   content: "";
   background-image: url(./../assets/images/pseudo.svg);
   display: block;
   background-repeat: no-repeat;
   height: 40px;
   width: 57px;
   position: absolute;
   top: 9px;
   left: -112px;
}

/* ниже собранеы все стили для slider */
.true-slider {
   position: relative;
}

.slick-track {
   display: flex;
   align-items: center;
}

.slick-list {
   overflow: hidden;
}

/* стили для стрелок */

.slick-arrow {
   cursor: pointer;
   position: absolute;
   bottom: 6px;
   z-index: 10;
   font-size: 0;
   /*height: 48px;
   width: 48px;
   background-color: rgb(125, 255, 125);*/
}

.slick-prev {
   right: 56px;
   background: url('../assets/images/arrow-prev.svg') 0 0 / 100% no-repeat;
   height: 14px;
   width: 16px;
}

.slick-next {
   right: 0px;
   background: url('../assets/images/arrow-next.svg') 0 0 / 100% no-repeat;
   height: 14px;
   width: 16px;
}

.slick-disabled {
   opacity: 0.5;
}




.true-slider__text {
   font-family: SF UI Display, sans-serif;
   font-size: 32px;
   font-style: normal;
   font-weight: 300;
   line-height: 51px;
   letter-spacing: 0.01em;
   text-align: left;
   margin-bottom: 60px;
}

.true__autor-name {
   font-family: SF UI Display, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 26px;
   letter-spacing: 0.01em;
   text-align: left;
}

.true__bottom {
   padding: 64px 0;
   display: flex;
   justify-content: space-between;
}

.true__bottom-img {
   background-blend-mode: multiply;
}

.true__bottom-title {
   padding-top: 236px;
   margin-bottom: 64px;
   max-width: 480px;
}

.true__bottom-span {
   color: #FD665E;
}

.true__btn {
   width: 205px;
}

/*Стили для блока Partners*/
.partners {
   background-color: #F9F9F9;
   padding: 64px 0;
}

.partners__title {
   margin-bottom: 56px;
}

.partners__logo {
   display: flex;
   justify-content: space-between;
}

/*Стили для блока Footer*/
.footer {
   background-color: #F9F9F9;
   border-top: 1px solid #F0F0F0;
}

.footer__wrapper {
   height: 208px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer__list {
   display: flex;
}

.footer__link {
   margin-right: 48px;
   font-family: SF UI Display, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 600;
   line-height: 40px;
   letter-spacing: 0.01em;
   text-align: center;
   color: #585858;
}